@tailwind base;
@tailwind components;
@tailwind utilities;
.darkBg{
    background-image: url('/public/darkSidebarBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;

}
.lightBg{
    background-image: url('/public/lightSidbarBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    

}

  progress.progress-bar {
    appearance: none;
    height: 10px;
    -webkit-appearance: none;
    width: 50%;
    margin-inline: auto;
  }

  /* WebKit (Chrome, Safari) */
  progress.progress-bar::-webkit-progress-bar {
    background-color: #b8bdc7; /* Tailwind bg-gray-200 */
    border-radius: 9px;
  }

  progress.progress-bar::-webkit-progress-value {
    background-color: rgb(172, 119, 59); /* Tailwind green-400 */
    border-radius: 9px;
  }

  /* Firefox */
  progress.progress-bar::-moz-progress-bar {
    background-color: #4ade80;
    border-radius: 9px;
  }